.section {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  min-height: 100vh;
  padding: 50px 0;
}

.aboutcontainer {
  background-color: #1c1e22;
  border-radius: 20px;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  text-align: justify;
}

.aboutcontainer h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.aboutcontainer p {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .aboutcontainer {
    width: 90%;
    padding: 10px;
  }
}
