.header {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 100vh;
}

.image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
}



@media (max-width: 768px) {
  .header {
    padding-top: 80px;
  }

  .image {
    width: 200px;
    height: 200px;
  }
}
